<app-nav></app-nav>

<app-hero></app-hero>

<section class="section1 about">
  <div class="content-top py-16 px-10">
    <div class="grid grid-cols-3 gap-10 max-md:flex max-md:flex-col">
      <div class="feature flex-col items-center justify-start text-center">
        <div class="flex-col flex justify-center items-center m-5 relative">
          <svg
            class="inline-block object-contain items-center h-24 w-24"
            xmlns="http://www.w3.org/2000/svg"
            height="90.355"
            viewBox="0 0 93.846 90.355"
            width="93.846"
          >
            <path
              d="m172.386 186.554c-23.689-11.139-38.225-33.178-27.179-56.865s49.975-37.263 73.734-26.275 17.674 28.044 6.488 52.033-29.354 42.246-53.043 31.107z"
              fill="#d7ecd9"
              transform="translate(-141.444 -99.548)"
            />
          </svg>
          <svg
            class="w-[40px] h-[40px] absolute m-auto text-black dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v13m0-13c-2.8-.8-4.7-1-8-1a1 1 0 0 0-1 1v11c0 .6.5 1 1 1 3.2 0 5 .2 8 1m0-13c2.8-.8 4.7-1 8-1 .6 0 1 .5 1 1v11c0 .6-.5 1-1 1-3.2 0-5 .2-8 1"
            />
          </svg>
        </div>
        <h4>Download for free</h4>
        <p>
          Download the app and try CookBook for free with endless recipes &
          scans.
        </p>
      </div>
      <div class="feature flex-col items-center justify-start text-center">
        <div class="flex-col flex justify-center items-center m-5 relative">
          <svg
            class="inline-block object-contain items-center h-24 w-24"
            xmlns="http://www.w3.org/2000/svg"
            height="90.355"
            viewBox="0 0 93.846 90.355"
            width="93.846"
          >
            <path
              d="m172.386 186.554c-23.689-11.139-38.225-33.178-27.179-56.865s49.975-37.263 73.734-26.275 17.674 28.044 6.488 52.033-29.354 42.246-53.043 31.107z"
              fill="#d7ecd9"
              transform="translate(-141.444 -99.548)"
            />
          </svg>
          <svg
            class="w-[40px] h-[40px] m-auto absolute text-black dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6C6.5 1 1 8 5.8 13l6.2 7 6.2-7C23 8 17.5 1 12 6Z"
            />
          </svg>
        </div>
        <h4>Make it your own</h4>
        <p>
          Import from the web, scan physical recipes or create them from
          scratch, on all your devices.
        </p>
      </div>
      <div class="feature flex-col items-center justify-start text-center">
        <div class="flex-col flex justify-center items-center m-5 relative">
          <svg
            class="inline-block object-contain items-center h-24 w-24"
            xmlns="http://www.w3.org/2000/svg"
            height="90.355"
            viewBox="0 0 93.846 90.355"
            width="93.846"
          >
            <path
              d="m172.386 186.554c-23.689-11.139-38.225-33.178-27.179-56.865s49.975-37.263 73.734-26.275 17.674 28.044 6.488 52.033-29.354 42.246-53.043 31.107z"
              fill="#d7ecd9"
              transform="translate(-141.444 -99.548)"
            />
          </svg>
          <svg
            class="w-[40px] h-[40px] m-auto absolute text-black dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 5.5V3m0 2.4a5.3 5.3 0 0 1 5.1 5.3v1.8c0 2.4 1.9 3 1.9 4.2 0 .6 0 1.2-.5 1.2h-13c-.5 0-.5-.6-.5-1.2 0-1.2 1.9-1.8 1.9-4.2v-1.8A5.3 5.3 0 0 1 12 5.5ZM6 5 5 4M4 9H3m15-4 1-1m1 5h1M8.5 18a3.5 3.5 0 0 0 7 0h-7Z"
            />
          </svg>
        </div>
        <h4>Plan, shop & cook</h4>
        <p>
          Plan your meals, create interactive shopping lists and cook with
          scaling, conversion & timers.
        </p>
      </div>
    </div>
  </div>
</section>

<app-testimonials></app-testimonials>

<app-faq></app-faq>

<app-footer></app-footer>
