<div class="content grid place-items-center pb-5">
  <div class="block-title">
    <div class="text-Accent flex justify-center items-center">FAQ</div>
    <h2
      class="text-5xl font-bold tracking-tight mb-6 text-gray-900 2xl:text-6xl max-sm:text-2xl"
    >
      Frequently Asked Questions
    </h2>
  </div>
  <div class="block-faq bg-white grid place-items-center py-2">
    <div class="wrapper w-5/6">
      <div class="tab px-5 py-2 bg-white shadow-xl relative mb-2 rounded-lg">
        <input
          type="radio"
          name="faq"
          id="faq1"
          class="appearance-none peer border-transparent"
        />
        <label
          for="faq1"
          class="flex items-center cursor-pointer font-semibold text-lg after:content-['+'] after:absolute after:right-5 after:text-2xl after:text-Accent hover:after:text-gray-950 peer-checked:after:transform peer-checked:after:rotate-45"
        >
          <h2
            class="w-8 h-8 bg-cyan-300 text-white flex justify-center items-center rounded-sm mr-3"
          >
            01
          </h2>
          <h4>Are my recipes public?</h4>
        </label>
        <div
          class="answer content mt-5 h-0 transition ease-in-out delay-300 overflow-hidden peer-checked:h-full"
        >
          <p>
            No your recipes are not public, FreshFireFinder is your own personal
            portable digital recipe manager. Just like keeping a binder of
            recipes at home in your kitchen!
          </p>
        </div>
      </div>
      <div class="tab px-5 py-2 bg-white shadow-2xl relative mb-2 rounded-lg">
        <input
          type="radio"
          name="faq"
          id="faq2"
          class="appearance-none peer border-transparent"
        />
        <label
          for="faq2"
          class="flex items-center cursor-pointer font-semibold text-lg after:content-['+'] after:absolute after:right-5 after:text-2xl after:text-Accent hover:after:text-gray-950 peer-checked:after:transform peer-checked:after:rotate-45"
        >
          <h2
            class="w-8 h-8 bg-cyan-300 text-white flex justify-center items-center rounded-sm mr-3"
          >
            02
          </h2>
          <h4>Do I have to pay to use FFF on each device?</h4>
        </label>
        <div
          class="answer content mt-5 h-0 transition ease-in-out delay-300 overflow-hidden peer-checked:h-full"
        >
          <p>
            No, your plan will give you unlocked access to the FreshFireFinder
            mobile and web app on ALL of your devices, on including iPhone,
            iPad, Android, tablet, computer & laptop.
          </p>
        </div>
      </div>
      <div class="tab px-5 py-2 bg-white shadow-xl relative mb-2 rounded-lg">
        <input
          type="radio"
          name="faq"
          id="faq3"
          class="appearance-none peer border-transparent"
        />
        <label
          for="faq3"
          class="flex items-center cursor-pointer font-semibold text-lg after:content-['+'] after:absolute after:right-5 after:text-2xl after:text-Accent hover:after:text-gray-950 peer-checked:after:transform peer-checked:after:rotate-45"
        >
          <h2
            class="w-8 h-8 bg-cyan-300 text-white flex justify-center items-center rounded-sm mr-3"
          >
            03
          </h2>
          <h4>How much does FreshFireFinder cost?</h4>
        </label>
        <div
          class="answer content mt-5 h-0 transition ease-in-out delay-300 overflow-hidden peer-checked:h-full"
        >
          <p>
            FreshFireFinder is free to try, recipe scans & shopping lists, so
            you can try before you support us!
          </p>
        </div>
      </div>
    </div>
  </div>
  <a
    routerLink="/login"
    class="text-white text-lg bg-Accent focus:outline-none focus:ring-4 focus:ring-pink-100 font-medium rounded-full px-5 py-2.5 text-center me-2 mb-2bg-Accent shadow-md hover:bg-pink-100 hover:text-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pink-200"
  >
    GET STARTED
  </a>
</div>
